In [52]:
pd.__version__

'2.3.1'

In [77]:
# get the dataset 
import pandas as pd
import numpy as np
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [79]:
df['fuel_type'].nunique()

2

In [80]:
df_no_nulls = df.columns[df.isnull().any()]
df_no_nulls

Index(['num_cylinders', 'horsepower', 'acceleration', 'num_doors'], dtype='object')

In [81]:
# To use later, let's save it to a dataframe 

df_asia = df.query("origin=='Asia'")
df_asia.fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [82]:
# check median and mode before and after filling nulls
print(df.horsepower.median(), df.horsepower.mode()[0])

149.0 152.0

In [83]:
df['horsepower_corrected'] = df.horsepower.fillna(df.horsepower.mode()[0])

df['horsepower_corrected'].median() > df['horsepower'].median()

np.True_

In [90]:
model = df_asia[['vehicle_weight', 'model_year']]
model.head(7)
# Derive the Gram matrix and its inverse
X = model.head(7).values
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
# Specify the target values
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
# Compute the weights
w = XTX_inv @ X.T @ y

w.sum()

np.float64(0.5187709081074016)